<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> About Flask </h1>
    <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
    
    
    {% endblock %}
  </body>
</html>